DATABASE_URL=postgresql://sprout_db_crh7_user:BKNIbvm8EohHkkB3AB2Uace7YMJTnCyC@dpg-d91am4j7uimc73a2csc0-a/sprout_db_crh7
SPROUT_PACKAGE_ID=0x9b7527f8a39d6d401e038d3beed98bbef4059b627138b6f745f4fb2b91b914ac
SUI_NETWORK=testnet
PORT=4000
USE_MOCK_DB=false
